.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2f77fc;
    padding: 5px;
    border-bottom: 2px solid #fff;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 1.57142857;
    color: #ffffff;
  }
  